@import "tailwindcss";

@theme {
    --color-coffee-600: #3d2c2c;
    --color-coffee-500: #4f3c32;
    --color-coffee-400: #5d4e47;
    --color-coffee-300: #7b6961;
    --color-coffee-200: #94857f;
    --color-coffee-100: #b4a6a1;
}